{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/style_homepage.css' %}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <title>Elvin Nur Furqon | portfolio</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievement/">Achivement</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="container text-center mt-5"
        style="background-color: whitesmoke; max-width: 50%; padding-bottom: 3px; border-radius: 10px">
        <h1>Selamat Datang</h1>
        <h2>di</h2s>
            <h1>My Portfolio</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="d-flex justify-content-around text-center">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <a href="/profil" class="btn btn-primary">Pergi</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">About Me</h5>
                <a href="/aboutme" class="btn btn-primary">Pergi</a>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">Achivement</h5>
                <a href="/achievement" class="btn btn-primary">Pergi</a>
            </div>
        </div>

    </div>


    <div class="pass">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small " style="background-color: whitesmoke ;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>