{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_profil.css'%}">
    <title>Profile | Elvin Nur Furqon</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievement/">Achivement</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container text-center  mt-5" style="color:white ;">
        <div class="container text-center pt-4 pb-4 col-md-auto">
            <div class="img">
                <img src="{% static 'img/0.png' %}" alt="Foto" class="rounded-circle" title="Elvin">
            </div>
            <br>
            <div class="container colomn">
                <h4>Elvin Nur Furqon</h4>
                <h4>28-Maret-1999</h4>
                <h4>Bogor</h4>
                <h4>Siswa/Mahasiswa</h4>
                <h4></h4>
            </div>
        </div>

    </div>

    <div class="pass">
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->








</body>

</html>