{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_achievement.css'%}">
    <title>Ini Achievement | Elvin Nur Furqon</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievement/">Achivement</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container text-center mt-5">
        <br>
        <br>
        <h1 style="color:aliceblue;">Data Tidak ditemukan !</h1>
    </div>

    <div class="pass">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="pass">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="pass">
        <br>
        <br>
        <br>
        <br>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small " style="background-color: whitesmoke ;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->



</body>

</html>