{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">

    <title>About Me | Elvin Nur Furqon</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutme/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievement/">Achivement</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="container">
        <br>
        <h1>About Me</h1>
        <div class="scroll">
            <br>
            <p>Nama saya Elvin Nur Furqon atau biasa dipanggil Elvin, lahir di Bogor, Jawa
                Barat tepatnya tanggal 28
                maret 1999. Saya merupakan anak pertama dari 3 bersaudara dari pasangan
                Jojok Sudarso dan Fitria
                Handayani. Ayah saya bekerja sebagai Kepala peneliti di salah satu institusi
                LIPI di Maninjau, sedangkan
                ibuku bekerja di Puskesmas Kec. Sukaraja, Kab. Bogor sebagai bidan disana.
                Saya memiliki saudara 1 orang
                laki-laki yang bernama Evandri Nur Fawwaz dan 2 orang saudari perempuan
                yakni Naila Salsabila Putri dan
                Nisa Akhira Humaira.<br>

                Saat ini saya sedang menyelesaikan studi S1 Teknik Komputer di salah satu
                Universitas swasta yang berada
                di kabupaten Bandung, yakni Telkom University. Saya merupakan lulusan SMA
                angkatan 2016 – 2017 di SMAN 7
                Bogor jurusan IPA. Saya memiliki keinginan menjadi seorang Robotic
                Engineering dalam suatu perusahaan
                luar, karena menurut pendapat saya pribadi peluang pekerjaan seorang Robotic
                Engineering di luar negeri
                sangat besar apalagi di era-Teknologi saat sekarang.<br>

                Saya menyukai semua hal yang berkaitan dengan IPA oleh sebab itu saat saya
                masih SMA saya mengikuti
                organisasi Karya Ilmiah Remaja hasil yang telah kami buat antara lain RoPOt
                (Robot Peracik Obat
                Otomatis) , Tesla Coil , Roket Air, dll.</p>
        </div>
    </div>
    <div class="pass">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>